{% block contents %}
<div>과학자 게시판</div>
<div style="border: 1px black solid; margin: 20px 0px;"></div>

<div class="board">
    <table style="text-align:center; width:800px; border:1px solid black;">
        <thead>
            <tr class="header">
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">글 작성일</th>
                <th scope="col">최종 수정일</th>
            </tr>
        </thead>

        <tbody>
            {% for board in Science_boards %}
            {% if board %}
            <tr>
                <th scope="row">{{ board.id }}</th>
                <td>{{ board.title }}</td>
                <td>{{ board.writer }}</td>
                <td>{{ board.write_dttm }}</td>
                <td>{{ board.update_dttm }}</td>
                <td><a href="/board/science/detail/{{ board.id }}" target="_self"><button>상세보기</button></a></td>
            </tr>
            {% else %}
            <tr>
                <td>작성된 게시글이 없습니다.</td>
            </tr>
            {% endif %}
            {% endfor %} 
        </tbody>
    </table>
</div>

<div>
    {% if Science_boards.has_previous %}
    <a href="?page=1">첫 페이지</a>
    <a href="?page={{ Science_boards.previous_page_number }}">이전 페이지</a>
    {% endif %}

    <span>{{ Science_boards.number}}</span>
    <span>/</span>
    <span>{{ Science_boards.paginator.num_pages }}</span>

    {% if Science_boards.has_next %}
    <a href="?page={{ Science_boards.next_page_number }}">다음 페이지</a>
    <a href="?page={{ Science_boards.paginator.num_pages }}">마지막 페이지</a>
    {% endif %}
</div>

<div><a href="{% url 'board:board_science_write' %}"><button>글쓰기</button></a></div>
{% endblock contents %}