<div>과학자 게시판</div>
<div><a href="{% url 'board:board_list' %}"><button>전체 게시판으로 이동</button></a></div>
<div>검색</div>
<form action="{% url 'board:board_science_search' %}" method="POST"> 
    {% csrf_token %}
    <div style="overflow: hidden;">
        <div style="margin-top: 2px; float: left; padding-left: 10px;">
            <select style="width: 6em;" name="type">
                <option value="all">전체</option>
                <option value="title_contents">제목+내용</option>
                <option value="title">제목</option>
                <option value="contents">내용</option>
                <option value="writer">작성자</option>
                <option value="sentence">문장</option>
            </select>
        </div>
        <div style="float: left; padding-left: 10px;">
            <input type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
        </div>
        <div style="float: left; padding-left: 10px;">
            <button input type="submit">Search</button>
        </div>
    </div>
</form>

{% if not boards%}
    <p>검색 결과가 없습니다.</p>
{% else %}

    <div class="board">
        <table style="text-align:center; width:800px; border:1px solid black;">
            <thead>
                <tr class="header">
                    <th scope="col">#</th>
                    <th scope="col">문장</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">글 작성일</th>
                    <th scope="col">최종 수정일</th>
                </tr>
            </thead>
    
            <tbody>
                {% for board in boards.all %}
                <tr>
                    <td scope="row"><b>{{ board.sentence }}</b></td>
                    <td>{{ board.title }}</td>
                    <td>{{ board.writer }}</td>
                    <td>{{ board.write_dttm }}</td>
                    <td>{{ board.update_dttm }}</td>
                    <td><a href="/board/science/detail/{{ board.id }}" target="_self"><button>상세보기</button></a></td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>

    {% endif %}