{% block contents %}
<div>과학자 게시판 수정하기</div>
<div><a href="{% url 'board:board_science_list' %}"><button>목록으로 돌아가기</button></a></div>
<form action="" method="POST" enctype="multipart/form-data">
    <input type="checkbox" id="fileChangeCheck" name="fileChange" style="display: none;">
    {% csrf_token %}

    {% for form in forms %}
    <div>
        <label for="{{ form.id_for_label }}">{{ form.label }}</label>
        {{ form }}
    </div>
    {% endfor %} 

    {% if error %} 
    {{ error }}
    {% endif %}
    <button type="submit">글 수정하기</button>
</form>
{% endblock contents %}