<h1>단어 랜덤 제공 페이지 입니다</h1>


<form method="get" action="#">
    <input type="submit" value="2" name="rm2"/>
</form>
<form method="get" action="#">
    <input type="submit" value="3" name="rm3"/>
</form>
<form method="get" action="#">
    <input type="submit" value="4" name="rm4"/>
</form>


<div>
    <!-- {% for w in rword %}
    <p >{{w.word}}></p>
    {% endfor %} -->
</div>


<br><br>
<div style="float: left; padding-left: 10px;">
    <input type="sentence" placeholder="문장 입력" aria-label="sentence" name="q" value="{{q}}">
</div>
<div style="float: left; padding-left: 10px;">
    <a href="{% url 'board:board_list' %}"><button>확인</button></a>
</div>