<div class="pb-board">
    <p>랜덤단어로 만든 문장 제공 보드</p>
    <br>
    {% if not pb_boards%}
    <p>작성된 문장이 없습니다.</p>
    {% else %}
    <table style="text-align:center; border:1px solid black;">
        <thead>
            <tr class="header">
                <th scope="col">문장</th>
            </tr>
        </thead>

        <tbody>
            {% for board in sentence_boards %}
            {% if board %}
            <tr>
                <th scope="row">{{ board.sentence }}</th>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>