@import "animation.css";
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mouse+Memoirs&family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mouse+Memoirs&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Do+Hyeon&family=Rubik+Moonrocks&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YES24';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YES24.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.btn-style{
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #C0C53F !important;
  --bs-btn-border-color: #C0C53F !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #dfe29f !important;
  --bs-btn-hover-border-color: #dfe29f !important;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #C0C53F !important;
  --bs-btn-active-border-color: #C0C53F !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #C0C53F !important;
  --bs-btn-disabled-border-color: #C0C53F !important;
}

.bg{
  background-color: #0C090A;
}

.signin{
  color:white;
  text-align: center;
  font-size: 4em;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.b-example-divider {
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

.centerm{
margin-top: 15vw;
}

.icontext{
color:white;
margin-top: 100px;
}

.signtext{
  font-family: 'nanumsquare';
}

.ignovel2{
  position: relative;
  font-family: 'Anton', sans-serif;
  font-size: 3vw;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
}

.ignovel2:before{

  content: attr(data-content);
  position: absolute;
  text-shadow: 3px 0 #f00;
  top: 0;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;

}
  
.ignovel2:after{

  content: attr(data-content);
  position: absolute;
  right:38.5%;
  text-shadow: -3px 0 #C0C53F;
  top: 0;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

