<div>일반인 게시판</div>
<div><a href="{% url 'board:board_list' %}"><button>전체 게시판으로 이동</button></a></div>
<a href="{% url 'board:board_public_list' %}"><button>목록으로 돌아가기</button></a>
<div>검색</div>
<form action="{% url 'board:board_public_search' %}" method="GET"> 
    {% csrf_token %}
    <div style="overflow: hidden;">
        <div style="margin-top: 2px; float: left; padding-left: 10px;">
            <select style="width: 6em;" name="type">
                <option value="all">전체</option>
                <option value="title_contents">제목+내용</option>
                <option value="title">제목</option>
                <option value="contents">내용</option>
                <option value="writer">작성자</option>
                <option value="sentence">문장</option>
            </select>
        </div>
        <div style="float: left; padding-left: 10px;">
            <input type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
        </div>
        <div style="float: left; padding-left: 10px;">
            <button input type="submit">Search</button>
        </div>
    </div>
</form>

{% if not boards%}
    <p>검색 결과가 없습니다.</p>
{% else %}
<div class="board" style="overflow: hidden;">
    {% for board in boards %}
    <div class="item">
        <p style="text-align: left; font-size: 0.8em; margin-left: 15px; float: left;">
            {% if board %}
            {% if board.image %}
            <img src="{{ board.image.url }}" alt="" width="200" height="150">
            {% endif %}
            <br>
            <span style="font-weight: bold;">{{ board.title }}</span> <br>
            작성자: {{ board.writer }} <br>
            좋아요: {{ board.like_count }} <br>
            글 작성일: {{ board.write_dttm }} <br>
            최종 수정일: {{ board.update_dttm }} <br>
            <a href="/board/public/detail/{{ board.id }}" target="_self"><button>상세보기</button></a>
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}
<div>
    {% if boards.has_previous %}
    <a href="?page=1&q={{q}}&type={{type}}">첫 페이지</a>
    <a href="?page={{ boards.previous_page_number }}&q={{q}}&type={{type}}">이전 페이지</a>
    {% endif %}

    <span>{{ boards.number}}</span>
    <span>/</span>
    <span>{{ boards.paginator.num_pages }}</span>

    {% if boards.has_next %}
    <a href="?page={{ boards.next_page_number }}&q={{q}}&type={{type}}">다음 페이지</a>
    <a href="?page={{ boards.paginator.num_pages }}&q={{q}}&type={{type}}">마지막 페이지</a>
    {% endif %}
</div>