{% block contents %}
<div>일반인 게시판</div>
<div><a href="{% url 'board:board_list' %}"><button>전체 게시판으로 이동</button></a></div>
<div>검색</div>
<form action="{% url 'board:board_public_search' %}" method="GET"> 
    {% csrf_token %}
    <div style="overflow: hidden;">
        <div style="margin-top: 2px; float: left; padding-left: 10px;">
            <select style="width: 6em;" name="type">
                <option value="all">전체</option>
                <option value="title_contents">제목+내용</option>
                <option value="title">제목</option>
                <option value="contents">내용</option>
                <option value="writer">작성자</option>
                <option value="sentence">문장</option>
            </select>
        </div>
        <div style="float: left; padding-left: 10px;">
            <input type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
        </div>
        <div style="float: left; padding-left: 10px;">
            <button input type="submit">Search</button>
        </div>
    </div>
</form>
<form method="GET" action="{% url 'board:board_public_list' %}">
    <div>
      <select name="sort" id="sort">
        <option value="recently" id="recently">최신순</option>
        <option value="likes" id="likes">좋아요순</option>
        <option value="hits" id="hits">조회수순</option>
      </select>
      <button type="submit" value="">정렬</button>
    </div>
</form>

<div style="border: 1px black solid; margin: 20px 0px;"></div>

{% if not pb_boards%}
<p>작성된 게시글이 없습니다.</p>
{% else %}
<div class="board" style="overflow: hidden;">
    {% for board in pb_boards %}
    <div class="item">
        <p style="text-align: left; font-size: 0.8em; margin-left: 15px; float: left;">
            {% if board %}
            {% if board.image %}
            <img src="{{ board.image.url }}" alt="" width="200" height="150">
            {% endif %}
            <br>
            <span style="font-weight: bold;">{{ board.title }}</span> <br>
            작성자: {{ board.writer }} <br>
            좋아요: {{ board.total_likes }} <br>
            조회수: {{ board.hits }} <br>
            글 작성일: {{ board.write_dttm }} <br>
            최종 수정일: {{ board.update_dttm }} <br>
            <a href="/board/public/detail/{{ board.id }}" target="_self"><button>상세보기</button></a>
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}
<div>
    {% if pb_boards.has_previous %}
    <a href="?page=1&sort={{sort}}">첫 페이지</a>
    <a href="?page={{ pb_boards.previous_page_number }}&sort={{sort}}">이전 페이지</a>
    {% endif %}

    <span>{{ pb_boards.number }}</span>
    <span>/</span>
    <span>{{ pb_boards.paginator.num_pages }}</span>

    {% if pb_boards.has_next %}
    <a href="?page={{ pb_boards.next_page_number }}&sort={{sort}}">다음 페이지</a>
    <a href="?page={{ pb_boards.paginator.num_pages }}&sort={{sort}}">마지막 페이지</a>
    {% endif %}
</div>


{% if user.is_authenticated %}
<div><a href="{% url 'board:board_public_write' %}"><button>글쓰기</button></a></div>
{% endif %}
{% endblock contents %}
