{% block contents %}
<div>일반인 게시판 글 상세보기</div>
<div style="border: 1px black solid; margin: 20px 0px;"></div>

{% if user == board.writer %}
<a href="/board/public/detail/{{ board.id }}/modify/"><button>수정</button></a>
<a href="/board/public/detail/{{ board.id }}/delete/"><button>삭제</button></a>
{% endif %}


<div>
    <form action="{% url 'board:likes' board.pk %}" method='POST'>
      {% csrf_token %}
      {% if user in board.like_users.all %}
        <input type="submit" value='좋아요 취소'>
      {% else %}
        <input type="submit" value='좋아요'>
      {% endif %}
    </form>
</div>

<div>
    좋아요 : {{ like_num }}
</div>
<div>
    게시판 종류 : {{ board.board_name }}
</div>
<div>
    제목 : {{ board.title }}
</div>
<div>
    작성자 : {{ board.writer }} | 작성일 : {{ board.write_dttm }} | 조회수 : {{ board.hits }}
</div>
<div>
    썸네일 이미지 : 
    {% if board.image %}
    <img src="{{ board.image.url }}" alt="" height="100">
    {% endif %}
</div>
<div>
    <label>첨부 파일 : </label>
    <a href="/board/public/download?path={{ board.file }}">{{ board.file }}</a>
 </div>
<div>
    문장 : {{ board.sentence }}
</div>
<div>
    내용 : {{ board.contents|safe }}
</div>
<hr>
<!--read-->
{% if comments %}
  <p><b>댓글수 : {{ comments|length }}</b></p>
{% endif %}
<ul>
  {% for comment in comments %}
    <li>
      작성자 : {{ comment.user }}</br>
      작성날짜 : {{ comment.created_at }}</br>
      댓글내용 : {{ comment.content }}
      <!--delete-->
      {% if user == comment.user %}
        <form action="{% url 'board:comments_delete' board.pk comment.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <input type="submit" value="DELETE">
        </form>
      {% endif %}
    </li>
  {% empty %}
    <p>댓글수 : 0</p>
  {% endfor %}
</ul>

<hr>

<!--create-->
{% if request.user.is_authenticated %}
  <form action="{% url 'board:comments_create' board.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="댓글 입력">
  </form>
{% else %}
<a href="/accounts/login">[댓글을 작성하려면 로그인하세요.]</a>
{% endif %}

<div><a href="{% url 'board:board_public_list' %}"><button>돌아가기</button></a></div>
{% endblock contents %}